/*---------MOBIL FIRST---------*/

*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Goldman";
}
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
/*-------------------*/

header {
  border: 2px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  background-image: linear-gradient(black, blue, hsl(287, 92%, 35%), black);
  padding-bottom: 20px;
  padding-top: 15px;
  display: flex;
}
/*-------------------*/
.header-menu {
  border-radius: 15px;
  border: solid white 1px;
  border-left: none;
  border-right: none;
  background-color: red;
  text-align: center;
  font-size: 50px;
  margin-top: 2%;
  padding-right: 3.5%;
  padding-left: 3.5%;
  padding-bottom: 1.5%;
  margin-left: 5%;
  color: white;
  cursor: pointer;
  animation: blinker 2s infinite linear;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 2;
  }
}
/*----------------*/

.audio {
  margin-left: 400px;
  max-width: 100px;
}
/*----------------*/
main {
  display: flex;
  justify-content: flex-start;
  background-image: url(./bilder/futbol-campo-estadio-luz-escenario_43605-2436.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*-------------------*/
.container {
  width: 300px;
  text-align: center;
  list-style: none;
}
/*-------------------*/
.unord li {
  font-size: 25px;
  border: 2px rgb(66, 127, 220) solid;
  border-radius: 18px;
  border-right: none;
  border-bottom: none;
  margin-bottom: 15px;
  margin-top: 35px;
  margin-left: 20px;
  color: black;
  background-color: white;
  cursor: pointer;
  height: 40px;
  width: 330px;
  list-style: none;
}

marquee {
  color: yellow;
  max-width: 200px;
  margin-top: 70px;
  margin-bottom: 300px;
  margin-left: 200px;
  font-size: 11px;
  font-size: 16px;
}

/*-------------------*/
.absolute-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%, -50%);
}
.absolute-img-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}

/*-------------------*/
footer {
  border: 2px solid white;
  border-bottom: none;
  border-right: none;
  border-left: none;
  background-image: linear-gradient(black, hsl(287, 92%, 35%), white, black);
}
.footer img {
  width: 200px;
  height: 80px;
  padding-top: 10px;
}

/*-------------------*/
/*--------media-queries-----------*/
@media screen and (max-width: 1100px) {
  marquee {
    display: none;
  }

  .header-menu {
    font-size: 50px;
    background-color: red;
  }
}
/*-------------------*/
@media screen and (max-width: 970px) {
  .header-menu {
    padding-right: 10%;
    padding-left: 10%;
    margin-left: 12%;
  }
}
/*-------------------*/
@media screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: flex-start;
  }

  .header-menu {
    animation: none;
  }

  audio {
    margin-left: 10px;
  }

  main {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .absolute-img {
    margin-left: -20%;
    margin-top: 10%;
  }

  .unord li {
    width: 250px;
    margin-top: 10px;
    font-size: 20px;
  }

  footer {
    padding-bottom: 150px;
  }
}
/*-------------------*/
@media screen and (min-width: 600px) {
  .unord li:hover {
    color: black;
    border: 3px yellow solid;
    border-right: none;
    border-bottom: none;
    font-size: 30px;
    width: 400px;
    opacity: 0.8;
  }
}
